body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f805e4;
}

header {
    background: linear-gradient(135deg, #aff803, #02f8c3);
    color: rgb(249, 253, 4);
    text-align: center;
    padding: 2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #f805e4;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

nav ul li a:hover {
    color: #2a06f5;
}

section {
    padding: 2rem;
    text-align: center;
}

#about {
    background-color: #fc08e7;
}

#tokenomics {
    background-color: #d1f504;
}

#charity {
    background-color: #fa05fa;
}

#roadmap {
    background-color: #72f705;
}

h2 {
    color: #f5576c;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

footer a {
    color: #f093fb;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
