<style>
    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #07a8f8;
        }

        header {
        background: linear-gradient(135deg, #aff803, #02f8c3);
        color: rgb(8, 8, 8);
        text-align: center;
        padding: 2rem;
        }

        nav ul {
        list-style-type: none;
        padding: 0;
        background-color: #04f8f8;
        display: flex;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        nav ul li {
        margin: 0 15px;
        }

        nav ul li a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
        }

        nav ul li a:hover {
        color: #f6fa06;
        }

        section {
        padding: 2rem;
        text-align: center;
        }

        #about {
        background-color: #04f8f8;
        }

        #tokenomics {
        background-color: #07f31a;
        }

        #charity {
        background-color: #f6fa06;
        }

        #roadmap {
        background-color: #72f705;
        }

        h2 {
        color: #080808;
        }

        footer {
        background-color: #d5d9da;
        color: rgb(14, 13, 13);
        padding: 1rem;
        text-align: center;
        }

        footer a {
        color: #0853f7;
        text-decoration: none;
        }

        footer a:hover {
        text-decoration: underline;
        }
